


<%- include ../include/head.ejs%>

    <ul class="hxhx">
        <li><a href="http://www.baidu.com">百度一下</a></li>
        <li><a href="http://www.qq.com">qq</a></li>
        <li><a href="http://www.sohu.com">搜狐</a></li>
    </ul>
    <style>
        .hxhx{}
        .hxhx li a{color:#000;font-size:25px;}
    </style>
